@import url(./normalize.css);

:root {
  --color-text: #666;
  --color-hight-text: #42b8aa;
  --color-tint: #42b983;
  --color-background: #ccc;
  --color-white-ground: #fff;
  --color-header-background: #42b983;
  --font-size: 14px;
  --line-height: 1.5;
  --van-primary-color: #fff;
  --van-circle-color: #fff;
  --van-swipe-indicator-active-background-color: #fff !important;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  user-select: none;
  /*禁止用户选中文件或图片*/
  background-color: var(--color-background);
  color: var(--color-text);
  width: 100%;
}

a {
  text-decoration: none;
  color: var(--color-text)
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}